@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --primary-color: black;
    --background-color: rgb(97, 96, 96);
    --secondary-background-color: rgb(151, 151, 151);
    --secondary-color: orange;
    --text-color: white
}

* {
    box-sizing: border-box;
    /* margin: 0; */
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
}

.app-link {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--secondary-background-color);
    font-size: large;
}

#buttons-app, #input-app {
    display: none;
}

/* BUTTON APP */
.container {
    max-width: fit-content;
    margin: auto;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 20px;
}

.display {
    color: white;
    text-align: right;
    margin: 10px;
}

.expression-display-div {
    font-size: small;
}

.result-display-div {
    font-size: larger;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.buttons button {
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}

.buttons button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.keys {
    background-color: var(--background-color);
    color: var(--text-color);
}

.operation {
    background-color: var(--secondary-color);
}

.clear {
    background-color: var(--secondary-background-color);
}

.clear-btn {
    grid-column: 1/3;
}

.del-btn {
    grid-column: 3/5;
}

.cancel-btn {
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 5px 10px;
}

/* INPUT APP */
.keyboard-input {
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    font-size: medium;
}

.result-div {
    font-size: large;
}